<div class="container">
<%= link_to '<button class ="btn btn-primary">Crean un nuevo tipo de usuario</button>'.html_safe, new_privilege_path %>
<h3>Lista de tipos de Usuarios</h3>
	<table class="table">
		<thead>
			<tr>
				<th>Tipo de Usuario</th>
				<th>Creacion de Usuarios</th>
				<th>Ingreso de Derechos de Petición</th>
				<th>Contestar Derechos de Petición</th>
				<th>Opciones</th>
			</tr>
		</thead>
		<tbody>
			<% @privileges.each do |t| %>
				<tr>
					<td><P><%= t.titulo %></P></td>
					<td><P><%= t.crearUsuario %></P></td>
					<td><P><%= t.crearPeticion %></P></td>
					<td><P><%= t.crearRespuesta %></P></td>
					<td><P> <%= link_to '<button class ="btn btn-info">Editar</button>'.html_safe, edit_privilege_path(t) %></P></td>
					
				</tr>
			<%end%>
		</tbody>
		
	</table>
</div>